.feedback-header {
    display: flex;
    flex-direction: column; /* 수직으로 정렬 */
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%; /* 전체 너비 차지 */
    box-sizing: border-box;
  }
  
  .top-header, .bottom-header {
    display: flex;
    justify-content: space-between; /* 좌우로 요소 정렬 */
    align-items: center;
    width: 100%;
  }
  
  .actions, .problem-selector {
    display: flex;
    align-items: center;
  }
  
  .header-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .header-button:hover {
    background-color: #0056b3;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile span {
    margin-right: 10px;
  }
  